asgiref
autopep8
certifi
charset-normalizer
crispy-bootstrap5
defusedxml
Django
django-cors-headers
django-crispy-forms
django-dotenv
django-environ
django-filter
djangorestframework
djangorestframework-simplejwt
gunicorn
httpie
idna
Markdown
markdown-it-py
mdurl
multidict
packaging
Pillow
psycopg2-binary
pycodestyle
pygments
PyJWT
PySocks
pytz
requests
requests-toolbelt
rich
sqlparse
tomli
typing-extensions
urllib3
django-cors-headers
